name: 'Dev Image CI'

on:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/dev-image.yml'
      - '.dockerignore'
      - '.nvmrc'
      - 'Dockerfile'
      - 'Makefile'
  pull_request:
    types:
      - opened
      - synchronize
    paths:
      - '.github/workflows/dev-image.yml'
      - '.dockerignore'
      - '.nvmrc'
      - 'Dockerfile'
      - 'Makefile'

jobs:
  dev-image-test:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - run: make build
      - run: make cirun cmd="npm ci"
      # - run: make ciall
      - run: make cirun cmd="npm run format:check"
      - run: make cirun cmd="npm run lint"
