name: Label Commenter

on:
  issues:
    types:
      - labeled
      - unlabeled
  # pull_request:
  #   types:
  #     - labeled
  #     - unlabeled

jobs:
  comment:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
        with:
          ref: main

      - name: Label Commenter
        uses: peaceiris/actions-label-commenter@v1.10.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          # config_file: .github/label-commenter-config.yml
