name: Daily Test

on:
  schedule:
    - cron: '13 13 * * *'
  workflow_dispatch:

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - 'ubuntu-22.04'
          - 'ubuntu-20.04'
          - 'ubuntu-latest'
          - 'macos-latest'
          - 'windows-latest'
        hugo-version:
          - 'latest'
          - '0.61.0'
        extended:
          - true
          - false
    steps:
      - uses: actions/checkout@v3

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2.5.0
        with:
          hugo-version: ${{ matrix.hugo-version }}
          extended: ${{ matrix.extended }}

      - name: Run hugo version
        run: echo "::set-output name=hugo_version::$(hugo version)"
        id: hugo_version

      - name: '${{ steps.hugo_version.outputs.hugo_version }}'
        run: echo '${{ steps.hugo_version.outputs.hugo_version }}'
