name: 'Test'

on:
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'
  pull_request:
    paths-ignore:
      - '**.md'

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - 'ubuntu-22.04'
          - 'ubuntu-20.04'
          - 'ubuntu-latest'
          - 'macos-latest'
          - 'windows-latest'
    steps:
      - uses: actions/checkout@v3

      - name: Read .nvmrc
        run: echo "::set-output name=NVMRC::$(cat .nvmrc)"
        id: nvm

      - name: Setup Node
        uses: actions/setup-node@v3.5.1
        with:
          node-version: '${{ steps.nvm.outputs.NVMRC }}'

      - run: npm ci

      - name: Run prettier
        if: startsWith(matrix.os, 'ubuntu-22.04')
        run: npm run format:check

      - name: Run eslint
        if: startsWith(matrix.os, 'ubuntu-22.04')
        run: npm run lint

      - name: Run ncc
        if: startsWith(matrix.os, 'ubuntu-22.04')
        run: npm run build

      - run: npm test

      - name: Upload test coverage as artifact
        uses: actions/upload-artifact@v3
        with:
          name: coverage-${{ matrix.os }}
          path: coverage

      - uses: codecov/codecov-action@v3
